<ion-header>
  <ion-toolbar>
    <ion-title>
      Itinéraire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Commencer votre visite</ion-card-subtitle>
        <ion-card-title>Bienvenue sur Circuidy</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Circuidy vous permez de créer un parcours qui correspond le mieux à vos contraintes. De plus, vous pouvez contribuer à notre communautée en nous donnant vote avis et en nous signalant d'éventuelles problèmes.</p>
      </ion-card-content>
    </ion-card>
    
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged1($event)">
        <ion-segment-button value="walk">
          <ion-icon name="walk"></ion-icon>
          <ion-label>A pied</ion-label>
        </ion-segment-button>

        <ion-segment-button value="bicyle">
          <ion-icon name="bicycle"></ion-icon>
          <ion-label>A vélo</ion-label>
        </ion-segment-button>
      
        <ion-segment-button value="wheelchair">
            <ion-icon name="body"></ion-icon>
          <ion-label>PMR</ion-label>
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar id="toolbar2" class="hide">
      <ion-segment (ionChange)="segmentChanged2($event)">
        <ion-segment-button value="walk">
          <ion-icon name="timer"></ion-icon>
          <ion-label>Demi-journée</ion-label>
        </ion-segment-button>

        <ion-segment-button value="bicyle">
          <ion-icon name="time"></ion-icon>
          <ion-label>Journée entière</ion-label>
        </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar d="toolbar3"class="hide">
      <ion-segment (ionChange)="segmentChanged3($event)">
        <ion-segment-button value="inside">
          <ion-icon name="home"></ion-icon>
          <ion-label>Interieur</ion-label>
        </ion-segment-button>

        <ion-segment-button value="outside">
          <ion-icon name="sunny"></ion-icon>
          <ion-label>Exterieur</ion-label>
        </ion-segment-button>

        <ion-segment-button value="idem">
            <ion-icon name="close-circle-outline"></ion-icon>
            <ion-label>Peu importe</ion-label>
          </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
    
  <ion-button d="button" expand="block" class="hide" fill="outline">GO !</ion-button>
</ion-content>
