<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      À propos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <ion-img style="width: 80%; margin: auto;" src="assets/icon/icon.png"></ion-img>
    <p style="text-align: center">
      <ion-icon name="logo-github"></ion-icon>
      <ion-label >snowtrackers/Circuidy</ion-label>
    </p>
    <p style="text-align: center">
        <ion-icon name="logo-briefcase"></ion-icon>
        <ion-label ><a style="color: white;" href="assets/Licence-ODbL.pdf">Licence ODBL</a></ion-label>
    </p>
    <br>
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img src="assets/alex.jpg">
      </ion-avatar>
      <ion-label>Alexandre</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img src="assets/john.png">
      </ion-avatar>
      <ion-label>Jonathan</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img src="assets/matt.jpg">
      </ion-avatar>
      <ion-label>Matthieu</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img src="assets/thom.jpg">
      </ion-avatar>
      <ion-label>Thomas</ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img src="assets/sylv.jpg">
      </ion-avatar>
      <ion-label>Sylvain</ion-label>
    </ion-item>

</ion-content>
